<div class="register-section">
    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="text-align: center">
                    <h4>Register</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="signupForm" (ngSubmit)="signup()">
                        <div class="row mb-3">
                            <label for="email_address" class="col-md-4 col-form-label text-md-end">E-Mail Address</label>
                            <div class="col-md-6">
                                <input type="text" formControlName="email" id="email_address" class="form-control" name="email-address" required
                                    autofocus>
                                @if (signupForm.get('email')?.invalid && signupForm.get('email')?.touched) {
                                        <span class="text-danger">Please provide a valid Email</span>
                                    }                                  
                            </div>
                        </div>
 
                        <div class="row mb-3">
                            <label class="col-md-4 col-form-label text-md-end">User Name</label>
                            <div class="col-md-6">
                                <input type="text" formControlName="username"class="form-control" required autofocus>
                                @if (signupForm.get('username')?.invalid && signupForm.get('username')?.touched) {
                                        <span class="text-danger">Please provide a valid Username</span>
                                    }                                 
                            </div>
                        </div>
 
                        <div class="row mb-3">
                            <label for="password" class="col-md-4 col-form-label text-md-end">Password</label>
                            <div class="col-md-6">
                                <input type="password" formControlName="password" id="password" class="form-control" name="password" required>
                                    @if (signupForm.get('password')?.invalid && signupForm.get('password')?.touched) {
                                        <span class="text-danger">Please provide a valid Password</span>
                                    } 
                                <!-- <span *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">
                                    Please provide a valid Password
                                </span>   -->
                            </div>
                        </div>
 
                        <span class="col-md-6 offset-md-4">
                            <button type="submit" class="sign-up">
                                Sign Up
                            </button>

                            <span style="padding-left: 15px">Existing user? <a routerLink="/login">Log In</a></span>
                        </span>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>