<div class="sidebar-view-subreddit">
    <div style="color:black; font-weight:bold">Browse Subreddits</div>
    <hr />
    <!-- @for (post of posts; track post.id){ -->
    @for(subreddit of subreddits; track subreddit.id){
    <span>
        <span class="subreddit-text"><a href="/view-subreddits/{{subreddit.id}}">{{subreddit.name}}</a></span>
        <hr />
    </span>
    }
    @if (displayViewAll) {
    <div style="text-align: center" >
        <a style="font-weight: bold" routerLink="/list-subreddits">View All</a>
    </div>
    }
</div>